.app {
  &--accordion {
    position: relative;

    &__head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 0;
      outline: none;
      background: $secondary-100;
      margin-top: 30px;
      width: 100%;
    }

    & svg {
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
      width: 20px;
      height: 10px;
    }
  }
}

.rotate-0 {
  transform: rotate(0deg);
}

.transform {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.space-x-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.75rem * var(--tw-space-x-reverse));
  margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)));
}

.duration-200 {
  transition-duration: 200ms;
}

.rotate-180 {
  transform: rotate(180deg);
}
