.app-back-btn {
  position: absolute;
  height: 41px;
  width: 41px;
  top: 39px;
  background: $primary-white;
  border: 1px solid #E2E8F0;
  border-radius: 16px;
  left: 24px;
  cursor: pointer;
  padding: 8px;
}