.repayment {
  background: $primary-white;
  border: 1px solid $secondary-200;
  border-radius: 16px;
  padding: 16px 0 0;

  &--container {
    max-height: 100vh;
    height: 100%;
    position: relative;
  }

  &__header {
    border-bottom: 1px solid $secondary-200;
    padding: 0 16px;
    padding-bottom: 10px;

    & h4 {
      font-size: 24px;
      font-weight: 700;
      line-height: 125%;
      letter-spacing: 0.2px;
      color: $secondary-base;
    }

    & span {
      padding: 6px 10px;
      color: #1a202c;
      letter-spacing: 0.3px;
      font-weight: 700;
      font-size: 10px;
      line-height: 150%;
      border-radius: 6px;
      padding: 6px 10px 4px;
      text-transform: uppercase;
    }
  }

  &__body {
    display: flex;
    column-gap: 20px;

    &--container {
      min-width: 50%;
      width: 100%;
      position: relative;
    }

    &--text {
      letter-spacing: 0.3px;
      font-size: 14px;
      font-weight: 600;
      line-height: 150%;
      color: $secondary-400;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #95ADFF;
        top: 24%;
        left: -8px;
      }
    }

    &--amount {
      font-weight: 900;
      font-size: 20px;
      line-height: 150%;
      letter-spacing: 0.3px;
      color: $primary-blue;
      margin-top: 5px;
    }
  }

  &__body,
  &__footer {
    padding: 10px 16px;
  }

  &__footer {
    display: flex;
    column-gap: 20px;
    background: $secondary-100;
    border: 1px solid $secondary-200;
    border-radius: 0 0 16px 16px;
    padding-bottom: 12px;
  }

  &--empty {
    margin-top: 20px;

    &__img {
      width: 220px;
      margin: auto;
      margin-bottom: 15px;
    }

    &__body {
      text-align: center;

      & h5 {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.3px;
        color: $secondary-base;
        margin-bottom: 8px;
      }

      & p {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.3px;
        color: $secondary-400;
      }
    }
  }

  &__schedule {
    margin-top: 30px;
    margin-bottom: 120px;

    & h5 {
      font-weight: 700;
      font-size: 18px;
      line-height: 125%;
      letter-spacing: 0.2px;
      color: #2A313C;
    }

    & p {
      font-weight: 600;
      color: $secondary-400;
      font-size: 12px;
      line-height: 150%;
      letter-spacing: 0.3px;
    }

    &--content {
      background: $primary-white;
      border-radius: 16px;
      padding: 16px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 16px 0;
    }

    &--amount {
      & p {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: #1A202C;
        letter-spacing: 0.3px;
      }

      & span {
        color: $secondary-400;
        letter-spacing: 0.3px;
        font-weight: 500;
        font-size: 13px;
        line-height: 150%;
      }
    }

    &--unconfirm {
      font-weight: 700;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0.3px;
      color: $error;
    }

    &--status {
      border-radius: 6px;
      padding: 5px 10px;
      text-transform: capitalize;
      font-size: 11px;
      line-height: 150%;
      letter-spacing: 0.3px;
    }
  }

  &--button {
    position: fixed;
    bottom: 20px;
    width: 90%;
    left: 20px;
  }
}

.payment {
  background: #c2adff;
}

.pending {
  background: #ff9a78;
}

.ready {
  background: $success-dark;
}

.paid {
  background: $greyscale-300;
}

.due {
  background: #FF7171;
}
