/*
  ===================
  Application fonts
*/

$primary-font: "BR Firma", sans-serif;


/* 
  ===================
  Screen sizes
*/

$xs: 320px;
$sm: 575.98px;
$md: 768px;
$lg: 992px;
$xl: 1199.97px;
$xxl: 1440px;


/* 
  ===================
  Application colors
*/

$primary-white: #FFFFFF;
$primary-blue: #0066F5;
$disabled-blue: #95ADFF;
$disabled-blue1: #E8EDFF;
$background1: #F2F6FF;

$error: #FF7171;

$secondary-base: #1A202C;
$secondary-400: #5D6A83;
$secondary-300: #96A3BE;
$secondary-200: #D8E3F8;
$secondary-100: #F2F6FF;

$greyscale-300: #E2E8F0;
$greyscale-100: #F7FAFC;

$success-dark: #16A34A;

$alert-warning-base: #FACC15;

